/* @media screen and (max-width: 300px) {
    .booking-search-inputs {
      flex-direction: column;
    }
  
    .booking-search-input-item {
      margin-bottom: 10px;
    }
  
    .booking-input {
      display: block;
      width: 100%;
    }
  
    .booking-input select {
      width: 100%;
    }
  
    .booking-input button {
      width: 100%;
    }
  }
   */

   