.busheading {
  color: white;
  text-align: center;
  margin-bottom: 4rem;
}
.mbus-heading{
  margin-bottom: 4rem;
}
.busform form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.insideform-div {
  background-color: white;
  width: 1000px;
  border-radius: 40px;

}

.btnn {
  height: 60px;
  width: 316px;
  background-color:#eb2427; 
  border-radius: 60%;
}

@media only screen and (max-width: 991px) {
  .insideform-div {
    max-width: 750px;
  }
}

@media only screen and (max-width: 752px) {
  .insideform-div {
    max-width: 600px;
  }
}

@media only screen and (min-width: 752px) {
  .mbform {
    display: none;
  }
  .mob-div{
    display: none;
  }
}

@media only screen and (max-width: 752px) {
  .mmform {
    display: none;
  }
}

.mbform {
  width: 100%;
  /* margin: 4% auto; */
  padding: 39px;

}
 
.b-in{
  border-radius: 40px;
}

.det-title{
  color: #eb2427;
}
.det-link{
  color: blue;
}
.det-viewbtn{
  background-color: green;
}
.det-cancelbtn{
  background-color: red;
}


.fullarea{
  padding: 0;
  margin-left: 10px;
  height: 100vh;
}

.inner-bus-div{
  display: flex;
  margin : 12px;
}

.inner-bus-details {
    width: 100%;
    float: left;
    padding: 5px 0 0 0;
}
.result-item:hover {
  background: #F5F5F5;
}
.result-item {
  width: 99%;
  float: left;
  margin-top: 10px;
  border: 1px solid #BBB;
  background: #FFF;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 15px 0;
}
.result-bus {
  width: 24%;
  float: left;
  padding-right: 10px;
  font-size: 12px;
  color: #525252;
  padding-left: 1%;
  white-space: nowrap;
  white-space: -moz-pre-wrap!important;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
  white-space: normal;
  overflow: hidden;
}
.pass-name {
  font-size: 13px;
  font-weight: bold;
  color: #960606;
  white-space: nowrap;
  white-space: -moz-pre-wrap!important;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
  white-space: normal;
  overflow: hidden;
}
a {
  color: #950606;
}
.bus-sector {
  width: 13%;
  float: left;
  float: left;
  font-size: 12px;
  color: #525252;
  text-align: center;
}
.bus-sector .dep {
  text-align: center;
}
.bus-sector div {
  text-align: left!important;
}
.dep {
  font-size: 9px;
  color: #384938;
  padding-bottom: 8px;
}
.dep-arrow {
  background-position: -257px -292px;
  width: 9px;
  height: 5px;
  padding-left: 10px;
}
.rail-sprite {
  /* background: url(/content/images/ak/v1.0/rail/rail-bus-sprite.png) no-repeat; */
}
.clock-icon {
  background-position: -144px -72px;
  width: 14px;
  height: 14px;
  margin-left: 23px;
}
.bus-sctr-container {
  width: 13%;
  float: left;
}
.arr-arrow {
  background-position: -257px -333px;
  width: 9px;
  height: 5px;
  padding-left: 10px;
}
.bus-sctr-time {
  width: 150px;
  float: left;
}
.bus-nxtdy-container {
  width: 100%;
  float: left;
}
.bus-nxtdy-dtls {
  color: #960606;
  float: left;
}
.bus-mid-sector {
  width: 10%;
  float: left;
  float: left;
  padding-left: 5px;
  font-size: 12px;
  color: #525252;
  text-align: center;
}
.seat-icon {
  background-position: -195px -71px;
  height: 22px;
  margin: 0 auto;
  width: 24px;
}
.price-bus {
  width: 22%;
  float: left;
}
.totel-fare {
  font-size: 13px;
  padding-left: 9px;
  font-weight: bold;
  color: #960606;
  font-family: 'ato_rupeeregular';
}

@media screen and (max-width: 788px){
.totel-fare {
    font-size: 12px;
    font-weight: bold;
    color: #960606;
}
}

.sort-by-section {
  padding-right: 1%;
  float: left;
}
.sort-seats-btn {
  padding-top: 7px;
  float: left;
}

.view-seats {
  /* background: url(/content/images/ak/v1.0/common/modify-serch.jpg) repeat-x; */
  padding: 3px 5px;
  border: 1px solid #A0A0A0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #525252;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  float: left;
  font-size: 11px;
}

.arow-small {
  padding-right: 15px;
  background-position: -329px -67px;
  width: 13px;
  height: 13px;
  margin-left: 5px;
}
.clear {
  clear: both;
}

.sel-seat-outer {
  width: 96%;
  border-top: 2px solid #960606;
  margin: 10px 2% 10px 2%;
}

.seat-indictr-otr {
  width: 201px;
  margin-right: 9px;
}
.flt-lft {
  float: left;
}

.sel-seat-cntnr {
  width: 99%;
  padding: 5px;
}

.sel-seat-left {
  width: 98%;
  padding: 0 1%;
}
.sel-seat-lt-cntnr {
  display: inline;
  margin: 10px 0;
}

@media screen and (max-width: 820px){
.sel-seat-lt-otr {
    width: 320px;
}
}

.sel-seat {
  display: inline;
  border: 1px solid #D2C9C9;
  border-radius: 8px;
  padding: 5px;
  background: #F5F4F4;
  height: 125px;
}

.sel-seat-hdng {
  width: 23px!important;
  padding-right: 22px;
}

.drvr-seat-sec {
  width: 18px;
  height: 18px;
  display: inline;
  padding: 5px 0 0 5px;
  clear: both;
}

.drvr-seat {
  width: 18px;
  height: 18px;
  background-position: -131px -364px;
}

.seat-sectn {
  display: inline;
  position: relative;
}
.seat-row {
  display: inline;
  clear: right;
  height: 25px;
}

ul, form, li, iframe {
  padding: 0;
  margin: 0;
}

ul, form, li, iframe {
  padding: 0;
  margin: 0;
}
ul, li {
  list-style: none;
}

.seat-indictr-otr {
  width: 201px;
  margin-right: 9px;
}


.psngr-seat-avl {
  width: 19px;
  height: 19px;
  background-position: -9px -363px;
  display: block;
}

.flt-rt {
  float: right;
}

.seat-indr-cntnr {
  width: 210px;
  margin: 3px 0;
}

.psngr-seat-avl {
  width: 19px;
  height: 19px;
  background-position: -9px -363px;
  display: block;
}

.seat-indr-txt {
  width: 157px;
  padding-left: 10px;
}
.psngr-seat-bkd {
  width: 19px;
  height: 19px;
  background-position: -33px -363px;
  display: block;
}

.psngr-seat-sel {
  width: 19px;
  height: 19px;
  background-position: -57px -363px;
  display: block;
}

.seat-indr-txt {
  width: 157px;
  padding-left: 10px;
}

.psngr-seat-lds {
  width: 19px;
  height: 19px;
  background-position: -81px -363px;
  display: block;
}
.seat-indr-txt {
  width: 157px;
  padding-left: 10px;
}